body{
    background-color: rgb(238, 238, 238);
}
#title{
    text-align: center;
}
#caption{
    text-align: center;
}
#div-image{
    background-color: white;
    margin: auto;
    width: 100%;
}
#image{
    display: block;    
    margin: auto;
}